<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>login</h2>
			<h4>{{message}}</h4>
		</div>
	</div>
		<div class="panel-body">
			<form action="/" method="POST">
				
				<div class="form-group">
					<label class="control-label" for="userName">Username</label>
					<input type="text" class="form-control" name="userName">
				</div>

				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<input type="text" class="form-control" name="password">
				</div>

				<button type='submit' class="btn btn-success">Login</button>

			</form>
			<a href="/signUp">Sign Up for an Account</a>
		</div>
</div>