<div id="signUp-body">
	
	<div class="container">

		<h2>Sign Up <span class="fa fa-sign-in"></span></h2>

		<form action="/signUp" method="POST">

			<div class="form-group">
				<label class="control-label" for="name">First and Last Name *</label>
				<input type="text" class="form-control animated bounceInLeft" name="name">
			</div>

			<div class="form-group">
				<label class="control-label" for="userNameSign">Username *</label>
				<input type="text" class="form-control animated bounceInRight" name="userNameSign">
			</div>

			<div class="form-group">
				<label class="control-label" for="password-sign">Password *</label>
				<input type="password" class="form-control animated bounceInLeft" name="passwordSign">
			</div>

			<div class="form-group">
				<label class="control-label" for="password-sign">Confirm Password *</label>
				<input type="password" class="form-control animated bounceInRight" name="passwordConfirm">
			</div>

			<button type="submit" class="btn btn-success animated bounceInLeft">SIGN UP</button>
		</form>
		<h3>Already Have an account?</h3><a href="/" id="login-link">Login</a>
	</div>
</div>

